  <% todos.forEach(todo => { %>
    <div class="todo-item " data-id="<%= todo.id %>">
    <div class="ui checkbox">
      <input class="todo-checkbox" type="checkbox" <%= todo.complete ? "checked" : ""%>>
      <% if (todo.complete) { %>
        <label><strike><%= todo.title %></strike></label>
      <% } else { %>
        <label><%= todo.title %></label>
      <% } %>
      <i class="todo-remove fa fa-remove"></i>
      </div>
    </div>
  <% }) %>
