$font-size-small : 14px;
$font-size-medium : 28px;
$font-size-large : 42px;
$font-size-Xlarge : 56px;
$grid-width : 50%;
$family : 'Montserrat';
$brand-color :(
  main1 : #474F58,
  main2 : #9B9B9B,
  sub1 : #E0E1E2,
  sub2 : #D8D8D8
);
